.primary{
    background-color:yellow;
    }
    .secondary{
        background-color: green;
    }
    .black{
        background-color: rgb(24, 22, 22);
        color:white;
    }
    .white{
        background-color: rgb(194, 38, 38);
        color:black;
    }
    
    .outline{
        &.primary{
            background-color: transparent;
            border-color: yellow;
        }
        &.secondary{
            background-color: transparent;
            border-color:green;
        }
        &.white{
            background-color: transparent;
            border-color:rgb(107, 19, 33);
        }
        &.black{
            background-color: transparent;
            border-color:blue;
        }
    }
    
    
    
    
    
    
    
    